* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/* common css  */


/* input {
    padding: 8px 20px;
    background: linear-gradient(90deg, #8392fd 0%, #63bcfb 100%);
    color: #fff;
    outline: none;
    border: none;
}

input:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0.08);
} */

.hedding {
    text-align: center;
    margin-bottom: 10px;
}

.hedding p {
    font-size: 15px;
    color: #777777;
}

.hedding h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #222222;
}

.spantext span {
    background: orange;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.section-header h1 {}

.section-header .section-header-para {
    font-size: 20px;
    color: gray;
}


/* common css  */

p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Rubik', sans-serif;
}

body .btn-primary {
    background-color: #E83B3E !important;
    border-color: #E83B3E;
    padding: 8px 40px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

body .btn-primary::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .4s;
}

body .btn-primary:hover {
    border-color: #111;
}

body .btn-primary:hover::after {
    width: 100%;
}


/* nav section start */

ul.navbar-nav li ul li {}

ul.navbar-nav li ul li a {}

ul.navbar-nav {}

ul.navbar-nav li {}

ul.navbar-nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    font-weight: 500;
}

.header-info {}

.header-search {
    width: 50px;
    font-size: 20px;
}

.header-call {
    width: 200px;
}

.header-call-icon {
    width: 50px;
    font-size: 30px;
    color: #E83B3E;
}

.header-call-info {
    color: #606060;
}

.header-call-info a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.header-button {}


/* nav section end  */


/* slider section  */

.slider-section {
    background: url(img/top1.jpg) no-repeat center center;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}

.slider-section::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    lef: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1
}

.slider-caption h4 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
}

.slider-caption h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}

.slider-caption .form-control {
    padding: 15px;
}

.slider-caption .btn {
    padding: 15px;
}


/* service section start  */


/* service header  */

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}


/* service header end  */

.services .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
}

.services .boxes .box:hover {
    background: #4070f4;
    color: #fff;
}

.services .boxes .box .icon {
    height: 50px;
    width: 50px;
    background: #4070f4;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.boxes .box:hover .icon {
    background-color: #fff;
    color: #4070f4;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: #0E2431;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: #fff;
}


/* service section end  */


/* teams section start */

.team {
    background-color: #F0F8FF;
}

.team img {
    border-radius: 10px;
    box-shadow: 15px 13px 20px -8px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 15px 13px 20px -8px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 15px 13px 20px -8px rgba(0, 0, 0, 0.36);
}

.team h5 {
    color: #000;
}

.team p {
    color: rgb(20, 17, 17);
    font-weight: normal;
}

small {
    color: gray;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.fa-facebook {
    color: #300df1;
    font-size: 21px;
    padding: 0 10px;
}

.fa-twitter {
    color: #0ad4f8;
    font-size: 21px;
    padding: 0 10px;
}

.fa-pinterest {
    color: #fd9308;
    font-size: 21px;
    padding: 0 10px;
}


/* teams section end */


/* Contact Me CSS */

.contact {
    background: #fff;
}

.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}

.contact .text {
    width: 80%;
    text-align: center;
    margin: auto;
}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    font-weight: 700;
    border-radius: 60px;
    transition: .4s;
}

.btn1:hover {
    background-color: #f9ca24;
}


/* footer section  */

footer {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.row p {
    margin-bottom: 0;
}

.row ul {
    padding: 0;
}

.row li {
    list-style: none;
}

.row li a {
    color: #fff;
    cursor: pointer;
}